body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
  }
  table {
    border-radius: 5px;
    width: 70%;
    margin: 0px auto;
    float: none;
    margin-top: 3%;
    background-color: #343a40 !important;
  }

  .center {
    width: 155px;
    margin: 0 auto;
    float: center;
    padding-top:5%
  }

  .thead-dark {
    background-color: #343a40 !important;
  }

  main {
    padding-top: 10%;
  
  }

  @media only screen and (max-width: 500px) {
    main {
      padding-top: 20%;
    }
  }

  body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
  }