<style>
  table {
    border-radius: 5px;
    width: 70%;
    margin: 0px auto;
    float: none;
    margin-top: 3%;
    background-color: #343a40 !important;
  }

  .center {

    width: 150px;
    margin: 0px auto;
    float: none;
  }

  .thead-dark {
    background-color: #343a40 !important;
  }

  main {
    padding-top: 5%;
  }

  @media only screen and (max-width: 500px) {
    main {
      padding-top: 20%;
    }
  }
</style>
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">
      <b>DominKey</b>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item" [hidden]="this.domains">
          <a class="nav-link" href="/domains" routerLinkActive="active">Domains</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item" [hidden]="this.registration">
          <a class="nav-link" href="/registration" routerLinkActive="active">Registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [href]="this.link" routerLinkActive="active">{{this.testo}}</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main role="main">
  <div class="center">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModel" >Add Domain</button>
  </div>

  <table class="table table-dark" [hidden]="this.hiddenTable">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Domain</th>
        <th scope="col">Password</th>
        <th scope="col">Created</th>
        <th scope="col">Modified</th>
        <th scope="col">Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let domain of domainsArray">
        <th scope="row">{{domain.id}}</th>
        <td>{{domain.domain}}</td>
        <td>
          <button type="button" class="btn btn-link" style="display:inline-block" (click)="displayPassword($event,domain.id)">SHOW PASSWORD</button>
        </td>
        <td>{{domain.created}}</td>
        <td>{{domain.modified}}</td>
        <td style='white-space: nowrap'>
          <button type="button" class="btn btn-link" style="display:inline-block"  data-toggle="modal" 
          data-target="#myModel" (click)="domainUpdate($event,domain.id,domain.domain)"  >Update</button>
          <button type="button" class="btn btn-link" style="display:inline-block" 
          (click)="domainDelete($event,domain.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div  class="modal fade" id="myModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul style="list-style-type:disc">
            <li>
              <label for="dominio">Domain</label>
              <input class="form-control" id="dominio" #this.item.readonly 
              (input)="this.item.domain = $event.target.value" [value]="this.item.domain">
            </li>
            <li>
              <label for="lengthPassword">Length Password</label>
              <input class="form-control" id="lengthPassword" type="number" 
               (input)="this.lengthPassword = $event.target.value" [value]="this.lengthPassword"> </li>
            <li>
              <label for="includeNumbers">Include Numbers</label>
              <input id="includeNumbers" class="form-control" type="checkbox" 
              (input)="this.includeNumbers = $event.target.checked" [value]="this.includeNumbers">
            </li>
            <li>
              <label for="includeSymbols">Include Symbols</label>
              <input id="includeSymbols" class="form-control" type="checkbox" 
              (input)="this.includeSymbols = $event.target.checked" [value]="this.includeSymbols">
            </li>
            <li>
              <label for="useUpperCase">Use UpperCase Letters</label>
              <input id="useUpperCase" class="form-control" type="checkbox" 
              (input)="this.useUpperCase = $event.target.checked" [value]="this.useUpperCase">
            </li>
            <li>
              <label for="excludeSimilarCharacters">Exclude Similar Characters</label>
              <input id="excludeSimilarCharacters" class="form-control" type="checkbox" 
              (input)="this.excludeSimilarCharacters = $event.target.checked" [value]="this.excludeSimilarCharacters">
            </li>
            <li>
              <label for="excludeThisCharacters">Exclude this Characters </label>
              <input id="excludeThisCharacters" type="text" class="form-control" 
              (input)="this.excludeThisCharacters = $event.target.value" [value]="this.excludeThisCharacters">
            </li>
            <li>
              <label for="mustInclude">At least one character from each pool</label>
              <input id="mustInclude" type="checkbox" class="form-control" 
              (input)="this.mustInclude = $event.target.checked" [value]="this.mustInclude"> </li>
            <li>
              <label for="pw">Passowrd</label>
              <input id="pw" class="form-control"  readonly  [value]="this.item.password"> </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-warning" (click)="generatePassword()">Generate Password</button>
          <button type="button" class="btn btn-primary" (click)="salvaPassword()">Save Password</button>
        </div>
      </div>
    </div>
  </div>
</main>