<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">
        <img src="assets/images/dominKey_logo_white.png" alt="dominKey_logo_white">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/domains" routerLinkActive="active">Domini</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item" [hidden]="this.registration">
            <a class="nav-link" href="/registration" routerLinkActive="active">Registrazione</a>
          </li>
          <li class="nav-item" [hidden]="this.modifyProfile">
            <a class="nav-link" href="/profile" routerLinkActive="active">Modifica Profilo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [href]="this.link" routerLinkActive="active">{{this.testo}}</a>
          </li>          
        </ul>
      </div>
    </nav>
  </header>

  <main role="main" [@simpleFadeAnimation]="'in'">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="first-slide" alt="First slide" src="assets/images/slide_1.jpg">
          <div class="container">
            <div class="carousel-caption text-left">
              <h1>Gestisci le password dei tuoi siti preferiti</h1>
              <p>
                <i>Crea nuove password sicure, e conservale qui senza paura di poterle dimenticare</i>
              </p>
              <p>
                <a class="btn btn-lg btn-primary" href="/registration" style="background-color: #212529; border-color: #212529" role="button">Registrati</a>
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="second-slide" alt="Second slide" src="assets/images/slide_2.jpg">
          <div class="container">
            <div class="carousel-caption text-center">
              <h1>
                <i>"Una chiave per domarle, una chiave per criptarle,</i>
              </h1>
              <p>
                <i>una chiave per vederle e nel buio ritrovarle." cit.</i>
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="third-slide" alt="Third slide" src="assets/images/slide_3.jpg" >
          <div class="container">
            <div class="carousel-caption text-right">
              <h1>Password giuste al momento giusto</h1>
              <p>
                <i>Grazie alla nostra estensione, le tue password salvate per un dominio verranno inserite direttamente al momento
                  del login</i>
              </p>
              <p>
                <a class="btn btn-lg btn-primary" style="background-color: #212529; border-color: #212529" href="https://github.com/Alepacox/ChromeExtension_PasswordManager_UnicamWebProject/archive/master.zip" role="button">Download</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


    <!-- Marketing messaging and featurettes
      ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing" style="text-align: center" >
      <h1 style="margin-bottom: 50px; color: #FDD835;" >Creatori</h1>
      <div class="row">
        <div class="col-lg-6">
          <img class="rounded-circle" src="https://avatars2.githubusercontent.com/u/13520940?s=460&v=4" alt="Alepacox Github"
            width="140" height="140">
          <h2 style="color: white">Alessandro Pacini</h2>
          <p style="color: #6c757d">Matricola 096147</p>
          <p>
            <a class="btn btn-secondary" href="https://github.com/Alepacox" role="button">View Github &raquo;</a>
          </p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-6">
          <img class="rounded-circle" src="https://avatars2.githubusercontent.com/u/6599179?s=460&v=4" alt="Generic placeholder image"
            width="140" height="140">
          <h2 style="color: white">Riccardo Amadio</h2>
          <p style="color: #6c757d">Matricola 095938</p>
          <p>
            <a class="btn btn-secondary" href="https://github.com/rokity/" role="button">View Github &raquo;</a>
          </p>
        </div>
        <!-- /.col-lg-4 -->
      </div>
      <!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">La sicurezza prima di tutto.
            <span class="text-muted">Senza mezzi termini.</span>
          </h2>
          <p style="color: whitesmoke" class="lead">DominKey utilizza i più forti algoritmi di cifratura per le tue password. La tua masterkey è l'unica chiave di accesso.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="assets/images/mockup_1.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Troppi siti, troppe password.
            <span class="text-muted">Meglio tutto in uno.</span>
          </h2>
          <p style="color: whitesmoke" class="lead">Con DominKey puoi creare password sicure per i tuoi siti preferiti, e gestirle tutte in un solo portale.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="featurette-image img-fluid mx-auto" src="assets/images/mockup_2.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Perchè sprecare tempo ad inserire password.
            <span class="text-muted">Fallo fare a noi.</span>
          </h2>
          <p style="color: whitesmoke" class="lead">Con l'estensione di DominKey per Chrome puoi cliccare direttamente sul campo password. Penseremo noi ad inserirla per te.
          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="assets/images/mockup_3.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

    </div>
    <!-- /.container -->


    <!-- FOOTER -->
    <footer class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
      <p>&copy; 2017-2018</p>
    </footer>
  </main>
</body>